body {
    margin: 20px;
    background-color: goldenrod;
}
nav ul li {
    /* setting display to inline */
    display: inline;
    margin: 0;
    padding: 0;
    /* Applying Roboto font */
    font-family: 'Roboto', sans-serif;
    font-size: large;
}
nav {
    background-color: crimson;
    margin: 0;
    padding-top: 1px;
}
.container {
    display: grid;
    grid-column: 50px 50px;
}
footer {
    background-color: crimson;
    text-align: right;
    padding: 5px;
}